version: '3.8'
services:
  # Layanan untuk aplikasi Next.js Anda
  app:
    build: .
    container_name: msarch-app-prod
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - .env

  # Layanan untuk Cloudflare Tunnel
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: msarch-tunnel-connector
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TOKEN}
