version: '3.8'

# Mendefinisikan jaringan kustom agar kontainer bisa saling berkomunikasi
networks:
  msarch-net:
    driver: bridge

services:
  # Layanan untuk aplikasi Next.js Anda
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # GANTI DENGAN PUID DAN PGID DARI PENGGUNA NAS ANDA
        # Jalankan 'id <username>' via SSH di NAS untuk mendapatkannya.
        - PUID=1026
        - PGID=100
    container_name: msarch-app-prod
    restart: unless-stopped
    env_file:
      - .env
    environment:
      # PENTING: Arahkan DATABASE_PATH ke /app/data. 
      # Semua layanan akan menggunakan path ini sebagai basis.
      - DATABASE_PATH=/app/data
    volumes:
      # Map folder data eksternal Anda di NAS ke folder /app/data di dalam kontainer.
      - ./msarch-data:/app/data
      # Map folder unggahan publik (seperti avatar) ke folder public/uploads di dalam kontainer.
      - ./msarch-data/uploads:/app/public/uploads
    # Menambahkan layanan 'app' ke jaringan 'msarch-net'
    networks:
      - msarch-net

  # Layanan untuk Cloudflare Tunnel
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: msarch-tunnel-connector
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TOKEN}
    # Menambahkan layanan 'tunnel' ke jaringan yang sama
    networks:
      - msarch-net
